# dependencies
node_modules
.pnpm-store

# next.js
.next
out
next-env.d.ts

# production
build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo

# pwa (generated)
public/sw.js
public/swe-worker-*.js
public/workbox-*.js

# editor
.idea
.vscode
